@charset "UTF-8";
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "sans-serif";
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box; }

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  padding-top: 400px;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box; }

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.img-profile {
  max-width: 100%;
  height: 200px;
  border-radius: 100px; }

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.text h1 {
  margin-top: 20px;
  color: #0C80A1; }

.text p {
  line-height: 1.6; }

.Join-me-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.hard-skills-container,
.soft-skills-container,
.certificates-container {
  position: relative;
  width: 300px;
  overflow: hidden;
  margin: auto; }

.hard-skills-container h2,
.soft-skills-container h2,
.certificates-container h2 {
  color: #0C80A1;
  font-size: 34px; }

.slides,
.slides-certificates {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%; }

.slide {
  width: 100%;
  display: flex; }

.col-container {
  flex: 1;
  padding: 10px;
  text-align: center; }

.img-certificates {
  height: 250px;
  width: 250px;
  object-fit: contain; }

.text-grid {
  margin-top: 10px; }

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer; }

/* Position the back arrow more externally */
.arrow-back {
  left: -10px;
  /* Move arrow to the original position */ }

/* Position the forward arrow more externally */
.arrow-forward {
  right: -10px;
  /* Move arrow to the original position */ }

/* Hide all radio buttons */
input[type="radio"] {
  display: none; }

/* Show the slide corresponding to the radio button that is checked */
input[type="radio"]:nth-of-type(1):checked ~ .slides {
  transform: translateX(0%); }

input[type="radio"]:nth-of-type(2):checked ~ .slides {
  transform: translateX(-50%); }

/* Show the slide corresponding to the radio button that is checked */
input[type="radio"]:nth-of-type(1):checked ~ .slides-certificates {
  transform: translateX(0%); }

input[type="radio"]:nth-of-type(2):checked ~ .slides-certificates {
  transform: translateX(-50%); }

/* Style the navigation arrows */
.nav-arrow img {
  width: 100%;
  height: auto; }

/* Media query per schermi più grandi */
@media (min-width: 600px) {
  body {
    padding-top: 300px; }

  h1 {
    font-size: 50px; }

  .about-me-container {
    flex-direction: column;
    flex: 1;
    max-width: 1500px;
    justify-content: space-between;
    border: none;
    box-shadow: none; }

  .about-me-container-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 50px; }

  .photo {
    display: flex;
    align-items: center;
    width: 50%; }

  .img-profile {
    border-radius: 20px;
    height: 300px; }

  .text {
    width: 50%;
    text-align: left;
    margin-left: 20px;
    font-size: 20px; }

  button {
    font-size: 40px; }

  .skills-container {
    width: 100%;
    margin-top: 20px; }

  .hard-skills-container,
  .soft-skills-container {
    width: 100%; }

  .images-grid-container {
    width: 70px;
    height: 70px; }

  /* Render images as round */
  .images-grid-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Make images round */ } }

/*# sourceMappingURL=test.css.map */
